// sap standard css class
// scss-lint:disable SelectorFormat
html[dir="ltr"] .my-app-demo-wt .my-custom-button.sapMBtn {
    margin-right: 0.125rem;
}

// sap standard css class
// scss-lint:disable SelectorFormat
html[dir="rtl"] .my-app-demo-wt .my-custom-button.sapMBtn {
    margin-left: 0.125rem;
}

.my-app-demo-wt .my-custom-text {
    font-weight: bold;
}
